@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url("images/bg-pattern.svg");
    background-repeat: no-repeat;
    font-family: "Manrope", sans-serif;
}

.wrapper {
    margin: 0 auto;
    width: 90%;
    display: block;
}

.header {
    background-image: url("images/pattern-circles.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 52%;
    margin: 0 auto;
    width: 100%;
    display: block;
    margin-top: 4em;
    height: 11.5rem;
}

.header h1 {
    padding-top: 1.5em;
    font-size: 22px;
    font-weight: 800;
    text-align: center;
}

.header p {
    font-size: 15px;
    font-weight: 600;
    color: hsl(225, 20%, 60%);
    width: 62%;
    margin: 0 auto;
    text-align: center;
    line-height: 25px;
}

.pageviews {
    background-color: hsl(0, 0%, 100%);
    height: 18rem;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.15);
    margin: 0 auto;
    text-align: center;
}

.pageviews-title {
    font-size: 15px;
    font-weight: 800;
    color: hsl(225, 20%, 60%);
    padding-top: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.range {
    -webkit-appearance: none;
    width: 85%;
    margin-top: 1.5em; 
    background: linear-gradient(90deg, hsl(174, 77%, 80%) 40%, hsl(224, 65%, 95%) 60% );   
    outline: none;
    border-radius: 50px;
    height: 0.75em;
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background-color: hsl(174, 86%, 45%);
    background-image: url("images/icon-slider.svg");
    background-repeat: no-repeat;
    background-size: 60%;
    background-clip: border-box;
    background-position: center;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    cursor: pointer;
}

.range::-moz-range-thumb {
    background-color: hsl(174, 86%, 45%);
    background-image: url("images/icon-slider.svg");
    background-repeat: no-repeat;
    background-size: 60%;
    background-clip: border-box;
    background-position: center;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    cursor: pointer;
}

.range::-webkit-slider-thumb:hover {
    background-color: hsl(174, 62%, 67%);
    box-shadow: 0px 20px 45px hsl(174, 86%, 45%);
}

.range::-webkit-slider-thumb:active {
    background-color: hsl(174, 86%, 45%);
}

.range::-moz-range-thumb:active {
    background-color: hsl(174, 86%, 45%);
}

#dollars_per_month_mobile {
    color: #333;
    font-size: 30px;
    font-weight: 800;
}

.monthly {
    padding-top: 1.5em;
    color: hsl(225, 20%, 60%);
    font-size: 15px;

}

.monthly-flex {
    display: none;
}

.billing {
    display: flex;
    justify-content: space-between;
    padding-left: 2em;
    padding-right: 1em;
    padding-top: 2em;
    font-size: 13px;
    font-weight: 600;
    color: hsl(225, 20%, 60%);
    gap: 8px;
}

.billing-text {
    position: relative;
    top: 0.25em;
}

.switch {
    position: relative;
    display: inline-block;
    width: 3.75em;
    height: 2em;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .toggle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50px;
  }
  
  .toggle:before {
    position: absolute;
    content: "";
    height: 1.25em;
    width: 1.25em;
    left: 10%;
    bottom: 18%;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .toggle {
    background-color: hsl(174, 86%, 45%);
  }

  input:checked + .toggle:before {
    -webkit-transform: translateX(23px);
    -ms-transform: translateX(23px);
    transform: translateX(23px);
  }

.percentage {
    background-color: hsl(14, 92%, 95%);
    color: hsl(15, 100%, 70%);
    border-radius: 50px;
    padding: 0.25em 0.75em;
}

.percentage-pc {
    display: none;
}

.trial {
    background-color: hsl(0, 0%, 100%);
    height: 13rem;
    margin-top: -0.9em;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 5px 30px -10px rgba(0, 0, 0, 0.15);
}

.checklist {
    margin: 0 auto;
    color: hsl(225, 20%, 60%);
    text-align: center;
    font-size: 15px;
    font-weight: 600;
}

.checklist ul {
    list-style-position: inside;
    margin: 0 auto;
    display: block;
    text-align: center;
    padding: 0;
    margin-top: 1em;
}

.checklist li:first-of-type {
    padding-top: 2em;
}

.checklist li {
    list-style-image: url("images/icon-check.svg");
    padding-top: 0.5em;
}   

.checklist ul li span {
    padding-left: 0.5em;
}

.trial_button {
    margin-top: 2em;
    margin: 2em auto;
    display: block;
    border: none;
    border-radius: 50px;
    background-color: hsl(227, 35%, 25%);
    color: hsl(226, 100%, 87%);
    font-size: 15px;
    font-weight: 600;
    padding: 1em;
    width: 12rem;
}

.trial_button:hover {
    color: hsl(0, 0%, 100%);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    position: relative;
    bottom: 0;
    margin: 0 auto;
    display: block;
    width: 100%;
    padding-bottom: 0.5rem;
    padding-top: 1.5em;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media screen and (min-width: 360px) and (max-width: 370px) {
    .header {
        background-size: 30%;
        margin-top: 3em;
        height: 7.5rem;
    }

    .header h1 {
        padding-top: 1.5em;
        font-size: 18px;
    }
    
    .header p {
        font-size: 9px;
        width: 80%;
    }

    .pageviews {
        background-color: hsl(0, 0%, 100%);
        height: 18rem;
        border-radius: 10px 10px 0 0;
        box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.15);
        margin: 0 auto;
        text-align: center;
    }

    .billing {
        display: flex;
        justify-content: space-between;
        padding-left: 2em;
        padding-right: 1em;
        padding-top: 2em;
        font-size: 11px;
        font-weight: 600;
        color: hsl(225, 20%, 60%);
        gap: 5px;
    }

}

@media screen and (min-width: 396px) {
    .header {
        background-size: 45%;
    }
}

@media screen and (min-width: 414px) {
    .header {
        background-size: 50%;
    }

}


@media screen and (min-width: 456px) {
    .header {
        background-size: 35%;
    }
}

@media screen and (min-width: 588px) {
    .header {
        background-size: 30%;
    }
}
@media screen and (min-width: 396px) {
    .header {
        background-size: 25%;
    }
}

@media screen and (min-width: 824px) {
    .header {
        background-size: 20%;
    }
}

@media screen and (min-width: 1032px) {
    .header {
        background-size: 17%;
    }
}



@media screen and (min-width: 1280px) {
    
    body {
        background-repeat: no-repeat;
        background-size: contain;
    }

    .wrapper {
        width: 40%;
    }
    
    .header {
        background-size: 30%;
        margin: 0 auto;
        margin-top: 4em;
        height: 11.5rem;
    }
    
    .header h1 {
        padding-top: 1.5em;
        font-size: 26px;
        font-weight: 800;
        text-align: center;
    }
    
    .header p {
        width: 70%;
        line-height: 10px;
        transform: scale(0.9);
    }
    
    .pageviews {
        background-color: hsl(0, 0%, 100%);
        height: 16rem;
        border-radius: 10px 10px 0 0;
        box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.15);
        margin: 0 auto;
        text-align: center;
        margin-top: 1em;
    }
    
    .pageviews-flex {
        display: flex;
        width: 85%;
        margin: 0 auto;
    }
    
    .pageviews-title {
        width: 50%;
        text-align: left;
        padding-top: 3rem;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    
    #dollars_per_month {
        color: #333;
        font-size: 40px;
        font-weight: 800;
        position: relative;
        top: 0.25em;
    }
    
    .monthly-flex {
        display: block;
        width: 50%;
        text-align: right;
        padding-top: 1.25em;
        color: hsl(225, 20%, 60%);
    }
    
    .monthly {
       display: none;
    }
    
    .billing {
        display: flex;
        justify-content: end;
        padding-left: 3em;
        padding-right: 1em;
        padding-top: 4em;
        font-size: 13px;
        font-weight: 600;
        color: hsl(225, 20%, 60%);
        gap: 10px;
    }
    
    .billing-text {
        position: relative;
        top: 0.25em;
    }
    
    .percentage {
        display: none;
    }
    
    .percentage-pc {
        display: block;
        background-color: hsl(14, 92%, 95%);
        color: hsl(15, 100%, 70%);
        border-radius: 50px;
        padding: 0.5em 0.75em;
        margin-right: 5em;
        font-size: 10px;
    }
    
    .trial {
        height: 10rem;
        margin-top: -0.9em;
        box-shadow: 0 5px 30px -10px rgba(0, 0, 0, 0.15);
        display: flex;
    }
    
    .checklist {
        text-align: left;
        width: 50%
    }
    
    .checklist ul {
        list-style-position: inside;
        margin: 0 auto;
        display: block;
        text-align: left;
        padding: 0;
        margin-top: 1em;
    }
    
    .checklist li {
        padding-top: 0em;
        text-align: left;
        padding-left: 4em;
    }
    
    .start-trial-button {
        width: 50%;
    }
    
    .trial_button {
        margin: 3.5em auto;
    }
    
    .trial_button:hover {
        color: hsl(0, 0%, 100%);
    }
    
    .attribution { 
        font-size: 11px; 
        text-align: center; 
        bottom: 0;
        margin: 0 auto;
        display: block;
        width: 100%;
        padding-bottom: 0.5rem;
    }
    
    .attribution a { 
        color: hsl(228, 45%, 44%); 
    }
    
}


@media screen and (min-width: 1440px) {
 
.wrapper {
    width: 40%;
}

.header {
    background-size: 25%;
    margin: 0 auto;
    margin-top: 4em;
    height: 11.5rem;
}

.header h1 {
    padding-top: 1.5em;
    font-size: 26px;
    font-weight: 800;
    text-align: center;
}

.header p {
    width: 70%;
    line-height: 10px;
    transform: scale(0.9);
}

.pageviews {
    background-color: hsl(0, 0%, 100%);
    height: 16rem;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.15);
    margin: 0 auto;
    text-align: center;
    margin-top: 1em;
}

.pageviews-flex {
    display: flex;
    width: 85%;
    margin: 0 auto;
}

.pageviews-title {
    width: 50%;
    text-align: left;
    padding-top: 3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#dollars_per_month {
    color: #333;
    font-size: 40px;
    font-weight: 800;
    position: relative;
    top: 0.25em;
}

.monthly-flex {
    display: block;
    width: 50%;
    text-align: right;
    padding-top: 1.25em;
    color: hsl(225, 20%, 60%);
}

.monthly {
   display: none;
}

.billing {
    display: flex;
    justify-content: end;
    padding-left: 3em;
    padding-right: 1em;
    padding-top: 4em;
    font-size: 13px;
    font-weight: 600;
    color: hsl(225, 20%, 60%);
    gap: 10px;
}

.billing-text {
    position: relative;
    top: 0.25em;
}

.percentage {
    display: none;
}

.percentage-pc {
    display: block;
    background-color: hsl(14, 92%, 95%);
    color: hsl(15, 100%, 70%);
    border-radius: 50px;
    padding: 0.5em 0.75em;
    margin-right: 5em;
    font-size: 10px;
}

.trial {
    height: 10rem;
    margin-top: -0.9em;
    box-shadow: 0 5px 30px -10px rgba(0, 0, 0, 0.15);
    display: flex;
}

.checklist {
    text-align: left;
    width: 50%
}

.checklist ul {
    list-style-position: inside;
    margin: 0 auto;
    display: block;
    text-align: left;
    padding: 0;
    margin-top: 0.2em;
    line-height: 30px;
}

.checklist li {
    padding-top: 0em;
    text-align: left;
    padding-left: 4em;
}

.start-trial-button {
    width: 50%;
}

.trial_button {
    margin: 3.5em auto;
}

.trial_button:hover {
    color: hsl(0, 0%, 100%);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    bottom: 0;
    margin: 0 auto;
    display: block;
    width: 100%;
    padding-bottom: 0.5rem;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

}

@media screen and (min-width: 1750px) {
    .wrapper {
        width: 35%;
    }

    .header {
        background-size: 27%;
    }

    .header h1 {
        padding-top: 1.5em;
        font-size: 32px;
        font-weight: 800;
        text-align: center;
    }
    
    .header p {
        width: 90%;
        line-height: 10px;
        font-size: 19px;
    }

    .pageviews {
        margin-top: 1em;
    }
}

@media screen and (min-width: 1920px) {

    .wrapper {
        width: 35%;
    }

    .header {
        background-size: 25%;
        margin-top: 6em;
        height: 13rem;
    }

    .header h1 {
        padding-top: 1.5em;
        font-size: 32px;
        font-weight: 800;
        text-align: center;
    }
    
    .header p {
        width: 90%;
        line-height: 10px;
        font-size: 19px;
    }

    .pageviews {
        margin-top: 4em;
        height: 19rem;
    }

    .range {
        top: 1em;
        position: relative;
    }

    .billing {
        display: flex;
        justify-content: end;
        padding-left: 3em;
        padding-right: 2em;
        padding-top: 6em;
        gap: 20px;
    }

}
